html, body {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Instrument Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* Smooth scroll behavior */
html {
  scroll-behavior: auto; /* smooth - gradual scrolling or auto - instant scrolling */
}
  
.canvasBG {
  background: white;
	background-size: 100% calc(100% + 1px);
}

/*------------------------- Header formatting stuff ----------------------------*/

/* Style for a fixed header */
header {
  position: fixed; /* Fixed header at top edge of screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  text-align: right;
  float: left;
  line-height: 60px;
  font-size: 30px;
  z-index: 100;
  image-rendering: auto;
}

.logo {
  height: 55px;   /* Adjust this until it looks right */
  width: auto;
  display: block;
  float: left;
}


/* Spacing to push content below the header */
.content {
  margin-top: 60px;
}

/* Navigation links in header */
nav a { /* nav selector targeting all <a> elements (anchor tags) within a <nav> element */
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover { /* :hover pseudo-class allows <nav> element to change when hovered */
  text-decoration: underline;
}

.offset {
  margin-left: 5%; /* Adds 100px margin on all sides */
}

/*------------------------- Base deets about section ----------------------------*/

section {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color:white;
  text-align: center;
  z-index: 5;
}

/*------------------------- Back to top Button ----------------------------*/


.back-to-top:hover { /* Hover is a pseudo-class */
  background-color: #ff00ee;
}

/* Show button when user scrolls past section 1 */
body.scrolled .back-to-top {
  display: block;
}


.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #aa00ff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 20px;
  display: none;
  z-index: 10;
}


/*-------------------------------------------------- CUSTOMISATION SECTION OF THE PREORDER PAGE ----------------------------------------*/

#Customisation{
  justify-content: center;
}

#webgi-canvas-container {
  /* position: fixed; */
  margin-left: 3vw;
  padding: 0;
  width: 50%;
  height: 80%;
  /* background-color: rgb(181, 181, 163); */
  border: 1px solid;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#webgi-canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}


.button-colors {
  /* background-color: rgb(255, 157, 0); */
  width: 35%;
  height: 90%;
  border-radius: 50px;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 5px;
  margin-top: 0px;
  cursor: pointer;
  transition: al 0.8s ease;
  display: flex;
}

.button-colors:hover {
  filter: drop-shadow(0 0 0.75rem rgba(28, 17, 52, 0.7));
  transform:scale(1.5);
}
.Main-Body-colors, .Pickguard-Materials, .Neck-Materials{
  width: 22%;
  height: 4.5%;
  justify-content: left;
  padding: 5px;
  background-color: #B0B0B0;
  border-radius: 50px;
  display: flex;
  list-style-type: none;
}

.Pickguard-Materials, .Main-Body-colors{
  width: 71%;
}

.red {
  background-color: #ff0000;
}
.green {
  background-color: #48c048;
}
.lightBlue {
  background-color: #62faff;
}
.darkBlue {
  background-color: #0a2dba;
}
.purple {
  background-color: #b84eff;
}
.black {
  background-color: #323232;
}
.white {
  background-color: #fffef7;
}

.light {
  background-color: #efce8b;
}
.dark {
  background-color: #7c4e19;
}


h6{
  color: #222;
  margin-bottom: 20px;
}

#Customization-Buttons{
  margin-right: 3VW;
  margin-left: 30px;
  width: 20%;
  height: 79%;
  padding-left: 3%;
  padding-top: 1%;
  float: left;
  text-align: left;
  background-color: #D5D2D0;
  border-radius: 5px;
}

/*-------------------------------------------------- DETAILS SECTION OF THE PREORDER PAGE ----------------------------------------*/

/*------------------------- Whats Included ----------------------------*/

#Details{
  display: flex;
  flex-direction: column;
  justify-content: start;
  /*background-color: aquamarine;*/
}

.WhatItComesWith{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 345px;
  background-color: #ECECEC;
  opacity: 80%;
  padding-top: 20px;
  justify-content: start;
}

h5{
  color:#222;
  font-size: xx-large;
  margin: 0px;
}

.ShowItems{
  display: flex;
  justify-content: center;
  margin: 0px;
}

.ItemIncluded{
  width: 30%;
  height: 50%;
  list-style-type: none;
  margin: 0px;
  margin-top: 15px;
}

.IncludedItemImg{
  width: 140px;
  height: 210px;
  background-color: azure;
  margin: 0px;
}

h4{
  font-size: x-large;
  font-weight: 600;
  color:#222;
  margin: 0px;
}

/*------------------------- Product Specification ----------------------------*/

.DetailBox{
  width: 75%;
  margin-top: 20px;
  padding: 0px;
  background-color: #ECECEC;
  opacity: 80%;
}

.detailHeader{
  padding: 10px;
  background-color: #DDDDDD;
}

.detailInfo{
  display: flex;
  width: 95%;
}

.info{
  width: 40%;
  margin-left: 50px;
  font-size: large;
  color: #222;
  word-wrap: normal;
  text-align: left;
}

.infolisted{
  margin-top: 20px;
}


/*-------------------------------------------- GATHER CUSTOMER INFO SECTION OF THE PREORDER PAGE ----------------------------------------*/

#webgi-canvas-container-finalView{
  position: fixed;
  margin-left: 3vw;
  padding: 0;
  width: 50%;
  height: 80%;
  /* background-color: rgb(181, 181, 163); */
  border: 1px solid;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#web-canvas {
  width: 100%;
  height: 100%;
  z-index: -1;
}


#formHolder{
  /*background-color: #62faff;*/
  height: 60%;
  width: 50%;
  padding: 5%;
  justify-content: left;
}

.nameInput{
  display: flex;
}

.phoneNumInput{
  display: flex;
}

#phoneNum{
  width: 100%;
  display:flex;
  flex-direction: column;
  text-align: left;
}

label {
  display: block;
  float: left;
  margin: 0px;
  color: #222;
  font-size: medium;
}

input[type=text] {
  width: 100%;
  height: 25%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid rgb(54, 54, 54);
  background-color: rgb(161, 161, 161);
  color: black;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

form{
  width: 100%;
}

.button-submit{
  background-color: #3F3F3F;
  border-radius: 5px;
  padding: 5px 15px;
  margin-top: 3%;
  font-size: medium;
  float: left;
}

input[type=text].phoneExtension{
  width: 20%;
  margin-top: 9%;
  float: left;
}
input[type=text].phoneNumber{
  width: 180%;
  margin-top: 9%;
  float: right;
}


/*---------------------------------------------------------------- FOOTER ------------------------------------------------------------*/

footer {
  height: 100px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

